<div id="wod5e_sheet" class="tab-pane fade">
    
    <tr>
    {{#each this.char.custom.attribs as |attrib idx|}}
        {{#each attrib as |a|}}
        <td>{{{a}}}</td>
        {{/each}}
        
        
        
    {{/each}}
    </tr>
    
</div>